<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos - Encomenda de Produtos</title>
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" href="css/pedidos.css">-->
    <link rel="stylesheet" th:href="@{/css/pedidos.css}">   
</head>
<body>
    <h1>REGISTRO DE ENCOMENDAS</h1>

    <main>
        <div class="container">
            <form action="#" method="post" class="pedido-form">
                <h2>PREENCHA OS CAMPOS</h2>

                <div class="form-group">
                    <label for="empresa">Empresa:</label>
                    <input type="text" id="empresa" name="empresa" placeholder="Digite o nome da empresa" required>
                </div>
                
                <div class="form-group">
                    <label for="produto">Produto a ser encomendado:</label>
                    <input type="text" id="produto" name="produto" placeholder="Digite o nome do produto" required>
                </div>

                <div class="form-group">
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" id="quantidade" name="quantidade" placeholder="Informe a quantidade" min="1" required>
                </div>

                <div class="form-group">
                    <label for="observacao">Observações:</label>
                    <textarea id="observacao" name="observacao" rows="4" placeholder="Detalhes adicionais" minlength="10" maxlength="200"></textarea>
                </div>

                <div class="button-group">
                    <button type="submit" class="btn btn-primary">Enviar Pedido</button>
                    <button type="reset" class="btn btn-secondary">Limpar</button>
                </div>
            </form>
            <div class="voltar">
                    <a th:href="@{/login}"><button>Sair</button></a>
            </div>
        </div>
    </main>
</body>
</html>
